body,
h1,
div,
span,
p {
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  background: #FAFAFA;
  font-size: 2em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #3a424f;
  position: relative;
}

#app {
  position: absolute;
  margin: 3% auto 0;
  width: 100%;
}
.logo {
  margin: 0 auto;
  width: 8%;
  height: 4%;
  text-align: center;
}
.subsubject {
  margin: 0 auto 2.5%;
  position: relative;
  max-width: 94%;
  background: #FFFFFF;
  border-radius: 6px;
  padding-top: 1.5%;
  padding-left: 1.5%;
  contain: content;
  will-change: transform;
  /*box-shadow: 0px 12px 35px rgba(14, 43, 93, 0.25);*/
  box-shadow: 0 1px 3px rgba(14,43,93,0.18), 0 1px 2px rgba(14,43,93,0.3);
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transition: opacity 500ms ease, transform 500ms ease, box-shadow 300ms ease, box-shadow 250ms ease;
  -moz-transition: opacity 500ms ease, transform 500ms ease, box-shadow 300ms ease, box-shadow 250ms ease;
  -ms-transition: opacity 500ms ease, transform 500ms ease, box-shadow 300ms ease, box-shadow 250ms ease;
  transition: opacity 500ms ease, transform 500ms ease, box-shadow 300ms ease, box-shadow 250ms ease;
}

.subsubject:hover,
.subsubject:focus {
  box-shadow: 0 5px 20px rgba(14,43,93,0.19), 0 3px 6px rgba(14,43,93,0.23);
  transform: translateY(-3px);
}
.fadedin {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.title {
	/*background: pink;*/
  margin: 0;
  margin-bottom: 2.5%;
  width: auto;
  margin-left: 1%;
  font-size: 1.7em;
  text-align: left;
  font-weight: 700;
}
.qnumber {
  font-size: 0.5em;
  color: #aaa;
}
.qlist {
  list-style: none;
	margin-top: 0;
  padding: 0;
  max-width: 94%;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.qt-container,
.aw-container {
  width: 100%;
  min-height: 50vh;
  margin-bottom: 40px;
}
.qt-container {
  margin-bottom: 100px;
}
.qt {
	font-size: 0.65em;
  font-weight: 700;
	list-style: none;
	text-decoration: none;
  margin-bottom: 30px;
  margin-left: 1%;
  opacity: 0.85;
  text-align: left !important;
}
.aw {
  opacity: 0.8;
  font-size: 0.6em;
  font-weight: 400;
  line-height: 1.2;
  margin:0 0 30px;
  /*margin-bottom: 60px;*/
  margin-left: 1%;
  text-align: left;
}

@media screen and (max-width: 414px) {
  #app {
    margin: 5% 0 auto;
  }
  .subsubject {
    margin: 0 auto 8%;
    /*min-width: 100%;*/
    padding-top: 4%;
  }
  .title {
    margin-bottom: 7%;
    padding: 0;
    margin-left: 3.5%;
    font-size: 1.4em;
    text-align: center;
  }
  .qt-container,
  .aw-container {
    min-height: 60vh;
  }
  .qt {
    font-size: 0.6em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 3.5%;
  }
  .aw {
    font-size: 0.55em;
    margin-left: 3.5%;
  }
  .qnumber {
    margin-top: 6%;
  }
  .logo {
    margin: 6% auto;
    width: 20%;
    height: 15%;
  }
}
@media screen and (max-height: 480px) {
  #app {
    margin-top: 0;
  }
  .subsubject {
    min-width: 100%;
    border-radius: 0;
  }
  .qt, .aw {
    font-size: 0.55em;
    margin-left: 5%;
  }
}